.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #ffffff;
    color: #0052cc;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: color 0.3s ease-in-out;
    color: #0052cc;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #1b1a12;
}
